.portfolio__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

.portfolio_item-cta {
    justify-content: left !important;
    gap: 10px !important;
    display: flex !important;
    flex-wrap: wrap;
}

.portfolio__items {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 3rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item-image img {
    display: block;
    max-width: 100%;
}

.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
}

@media screen and (max-width:1024px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }
}

@media screen and (max-width:600px) {
    .portfolio__container {
        /* grid-template-columns: 1fr; */
        gap: 1rem;
    }
}

.portfolio__item.even {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s, transform 0.5s;
}

.portfolio__item.odd {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.5s, transform 0.5s;
}

.portfolio__item.even.fade-in {
    opacity: 1;
    transform: translateX(0);
}

.portfolio__item.odd.fade-in {
    opacity: 1;
    transform: translateX(0);
}