.header__container {
  height: 100%;
  position: relative;
  /* height: 100vh; */
  padding-top: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: 25rem auto;
  height: 100%;
}

.header__content {
  text-align: left;
  display: grid;
  /* place-items: center; */
}

.cta {
  margin-top: 2.5rem;
  justify-content: center;
}

.me {
  color: var(--color-primary);
  width: 50%;
  overflow: hidden;
  font-weight: 300;
  margin-top: 2.5rem;
}

.header__aside {
  display: grid;
  place-items: center;
}

.slider__dots {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  z-index: 10;
  background-color: gray;
  padding: 1%;
  border-radius: 0.5em;
}

.slider__dots span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #bbb;
  cursor: pointer;
}

.slider__dots .active {
  background-color: var(--color-primary);
}

.slider__image--main {
  z-index: 4;
}

.header__slideshow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slider__next {
  position: absolute;
  top: 60%;
  width: 90%;
  height: auto;
  cursor: pointer;
  border-radius: 1em;
  scale: 0.9;
  transform: translate(40%, -30%);
}

.slider__next:hover {
  outline: var(--color-primary) 5px solid;
}


.slider__next img {
  width: 100%;
  z-index: 1;
  opacity: 70%;
}

.header__slideshow img {
  max-width: 100%;
  max-height: 100%;
  height: 16rem;
  width: 28rem;
  border-radius: 1em;
}

@media screen and (max-width: 1024px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .header__content {
    place-items: center;
  }

  .header__aside {
    margin-top: 5rem;
    margin-right: 3rem;

  }

  .slider__dots {
    bottom: -15%;
  }

  .header__slideshow img {
    height: 12rem;
    width: 22rem;
  }

  @media screen and (max-width: 768px) {
    .header__slideshow img {
      /* height: 10rem; */
    }
  }

  @media screen and (max-width: 600px) {
    .header__slideshow {
      /* width: 90%; */
    }
  }

  @media screen and (max-width: 480px) {
    .header__slideshow img {
      height: 8rem;
    }
  }
}